* {
background-color: aqua;
font-family: 'Times New Roman', Times, serif;

}


form {
border: 5px solid blueviolet;
padding: 10px 2px;
margin: 300px;
font-style: normal;
font-weight: bolder;
background-color: bisque;
color: black;
text-transform: capitalize;
text-align: center;

}
button {
    background-color: brown;  
}
button:hover {
    background-color: azure;
    transition:0s
}

button:focus{
    background-color: blue;

}
button:active {
    background-color:black;
}
h1,h2,h3 {
    text-align: center;
    padding: 5px 5px;
    text-transform: capitalize;
    font-weight: bolder;
}

h4 {
    display: flex;
    flex-direction: column;

}